<div class="section">
  <h2 class="logo-text drac-heading drac-heading-2xl drac-text-purple center">
    Scenery Vision
  </h2>
</div>
<div class="divider"></div>
<form id="adder" action="/" method="post">
  <div class="section">
    <div class="row input-row">
      <div class="input-field col s12 m6 push-m3">
        <div class="input-wrapper">
          <input
            type="text"
            class="code-input valign-wrapper"
            name="code"
            id="code"
            value="{{code}}"
            placeholder="Введите или выберите артикул"
          />
          <button class="submit-button">
            <svg
              class="send-icon"
              xmlns="http://www.w3.org/2000/svg"
              fill="white"
              height="48"
              width="48"
            >
              <path
                d="M6 40V8l38 16Zm3-4.65L36.2 24 9 12.5v8.4L21.1 24 9 27Zm0 0V12.5 27Z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="slider col s12 m6 push-m3">
        <div class="slide-track examples" style="max-width: calc({{examples.length}} * 150px);">
          {{#each examples}}
            <div id="{{this}}" class="example-code drac-bg-purple-secondary center {{#if @last}}no-margin{{/if}}">
              {{this}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</form>
{{#if has_code}}
  {{#ifnoterror info.error info}}
    <div class="devider"></div>
    <div class="section">
      <div class="row">
        <div class="col s12 xl6">
          <div class="card">
            <p class="drac-text-black center drac-heading-xl no-margin">
              {{web_name}}
            </p>
          </div>
          <div class="card card-for-img no-padding">
            <center><img class="card-img center" src="{{img_path}}"/></center>
          </div>
        </div>
        <div class="col s12 xl6">
          <div class="card chars-card">
            <div class="section no-padding">
              <div class="char-heading row">
                <p class="drac-text-black left drac-heading-xl no-margin">
                  Характеристики:
                </p>
              </div>
              {{#each info}}
                <div class="char row">
                  <p class="drac-text-black left drac-heading no-margin">
                    {{@key}}:
                  </p>
                  <p class="drac-text-black right drac-heading no-margin">
                    {{this}}
                  </p>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col 12 description-card-wrapper">
          <div class="card description-card">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3"><a class="active" href="#Desc-SEO">SEO</a></li>
                <li class="tab col s3"><a href="#Desc-0">1</a></li>
                <li class="tab col s3"><a href="#Desc-1">2</a></li>
                <li class="tab col s3"><a href="#Desc-2">3</a></li>
              </ul>
            </div>

            {{#each descriptions}}
              <p id="Desc-{{@index}}" class="desc drac-text-black left drac-heading no-margin">
                {{this}}
              </p>
            {{/each}}
            <p id="Desc-SEO" class="desc drac-text-black left drac-heading no-margin">
                {{seo_description}}
              </p>
          </div>
        </div>
      </div>
    </div>
  {{/ifnoterror}}
  {{#if info.error}}
    <h2 class="drac-heading drac-heading-xl drac-text-red center">
      Артикул не найден
    </h2>
  {{/if}}
{{/if}}
<script>
  $(document).ready(function(){
    $('.tabs').tabs();

    $("#adder").on("submit", () => {
      $("#pageloader").fadeIn();
    });

    $(".example-code").click((event) => {
      code = event.target.id;
      input_form = $("#code")[0];
      submit_form = $("#adder")

      input_form.value = code;
      submit_form.submit();
    })
  });
</script>

<style>
  @-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-150px * {{examples.length}} / 2));
      transform: translateX(calc(-150px * {{examples.length}} / 2));
    }
  }
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-150px * {{examples.length}} / 2));
      transform: translateX(calc(-150px * {{examples.length}} / 2));
    }
  }

  .slider .slide-track {
      -webkit-animation: scroll 30s linear infinite;
      animation: scroll 30s linear infinite;
      display: flex;
      width: calc(150px * {{examples.length}});
  }

  .slider .slide {
      height: 100px;
      width: 150px;
  }
</style>