<div class="section">
  <h2 class="drac-heading drac-heading-2xl drac-text-red center">
    Scenery Vision
  </h2>
</div>
<div class="divider"></div>
<form id="adder" action="/" method="post">
  <div class="section">
    <div class="row">
      <div class="input-field col s6 push-s3">
        <div class="input-wrapper">
          <input
            type="text"
            class="code-input valign-wrapper"
            name="code"
            value="{{code}}"
            placeholder="Введите артикул"
          />
          <button class="submit-button">
            <svg
              class="send-icon"
              xmlns="http://www.w3.org/2000/svg"
              fill="white"
              height="48"
              width="48"
            >
              <path
                d="M6 40V8l38 16Zm3-4.65L36.2 24 9 12.5v8.4L21.1 24 9 27Zm0 0V12.5 27Z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
{{#if has_code}}
  {{#ifnoterror info.error info}}
    <div class="devider"></div>
    <div class="section">
      <div class="row">
        <div class="col s6">
          <div class="card">
            <p class="drac-text-red center drac-heading-xl no-margin">
              {{web_name}}
            </p>
          </div>
          <div class="card card-for-img no-padding">
            <img class="card-img" src="{{img_path}}"/>
          </div>
        </div>
        <div class="col s6">
          <div class="card">
            <div class="section no-padding">
              <div class="char-heading row">
                <p class="drac-text-red left drac-heading-xl no-margin">
                  Характеристики:
                </p>
              </div>
              {{#each info}}
                <div class="char row">
                  <p class="drac-text-red left drac-heading no-margin">
                    {{@key}}:
                  </p>
                  <p class="drac-text-red right drac-heading no-margin">
                    {{this}}
                  </p>
                </div>
              {{/each}}
            </div>
          </div>
          <div class="card description-card">
            <div class="col s12">
              <ul class="tabs">
                <li class="tab col s3"><a href="#Desc-SEO">SEO</a></li>
                <li class="tab col s3"><a class="active" href="#Desc-0">1</a></li>
                <li class="tab col s3"><a href="#Desc-1">2</a></li>
                <li class="tab col s3"><a href="#Desc-2">3</a></li>
              </ul>
            </div>

            {{#each descriptions}}
              <p id="Desc-{{@index}}" class="drac-text-red left drac-heading no-margin">
                {{this}}
              </p>
            {{/each}}
            <p id="Desc-SEO" class="drac-text-red left drac-heading no-margin">
                {{seo_description}}
              </p>
          </div>
        </div>
      </div>
    </div>
  {{/ifnoterror}}
  {{#if info.error}}
    <h2 class="drac-heading drac-heading-xl drac-text-red center">
      Артикул не найден
    </h2>
  {{/if}}
{{/if}}
<script>
  $(document).ready(function(){
    $('.tabs').tabs();

    $("#adder").on("submit", function(){
      $("#pageloader").fadeIn();
    });
  });
</script>
